{% extends "Taxi/baseTaxi.html.twig" %}

{% block contenido %}
    <h2 class="card-title">¿Así que quiere solicitar un taxi?</h2>
    <p class="amarillopsinalign">A continuación, deberá escribir la zona (provincia, ciudad...) en la que se encuentra y si encontramos un taxi en sus cercanías nos encargaremos de mandárselo.</p>
    
    <form action="{{ path('callTaxis') }}" method="POST">
        <div class="form-group">
            <label class="amarillopsinalign" for="localizacion">Localización:</label>
            <input type="text" id="localizacion" name="localizacion" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Solicitar Taxi</button>
    </form>

    {% if mensaje %}
        <div class="alert alert-info mt-4">{{ mensaje }}</div>
    {% endif %}
{% endblock %}

